body {
  background-color: #0d0d0d; /* Negro */
  color: #e0e0e0;
}

.presentacion {
    padding: 40px;
}

.presentacion-box-img {
    padding: 10px;
}

.presentacion-texto {
    padding: 70px;
}

.tree {
    padding: 10px;
}


.navegacion-letras {
      padding: 20px;
}

.logo-retroach{
    padding: 20px;
}

.tabla-retro {
    padding-top: 30px;
}

.imagenes-tabla-retro{
    padding: 20px;
    width: 450px;
    height: 150px;
}
